
/*NAVIGATION*/

.custom-navbar {
    background-color: #d7dada;
    width: 95%;
    height: 95%;
}

.navbar-divider {
    height: 25px;
    width: 1px;
    background-color: black;
    align-self: center;
}

/*IMAGES*/

.img-action-icons {
    margin-left: 20px;
    margin-top: 10px;
}

.profile-photo {
    width: 5em;
    height: 3em;
}

.profile-gallery {
    width: 95%;
    height: 95%;
}

.profile-gallery-modal {
    width: 100%;
    height: auto;
}


/*Cards*/

.quote-image-card {
    border: none;
}

/*RENAMEME*/