
/* COLORS */
body {
    background-color: #9d0ad7;
}

.card-body {
    background-color: #C1F6FF;
}

.custom-navbar {
    background-color: #8AFAEE;
    height: 95%;
}


p, h4 {
    color: #361F07;
}

a:link {
    color: #00A676;
}
a:visited {
    color: #601700;
}
a:hover {
    color: #601700;
}

a.nav-link:link {
    color: #361F07;
}
a.nav-link:hover {
    color: #00A676;
}
a.nav-link:visited {
    color: #361F07;
}

#photo-credits {
    font-size: 10px;
    color: darkgrey;
}





/*NAVIGATION*/

.sign-in-icon {
    width: 17px;
    height: 17px;
}

.navbar-divider {
    height: 25px;
    width: 1px;
    background-color: black;
    align-self: center;
}


/*IMAGES*/

.img-action-icons {
    margin-left: 20px;
    margin-top: 10px;
}

.profile-photo {
    width: 5em;
    height: 3em;
}

.profile-gallery {
    width: 95%;
    height: 95%;
}

.profile-gallery-modal {
    width: 100%;
    height: auto;
}


/*Cards*/

/*.quote-image-card {*/
/*    border: none;*/
/*}*/

/*SIGN-IN*/

.sign-in-card {
    border: 2px #646363;
}

.sign-in-card-resize {
    width: 75%;
    height: 50%;
}


.center-hr {
}
.quote-image-card {
    border: none;
}