.custom-navbar {
    background-color: #d7dada;
    width: 95%;
    height: 95%;
}

.navbar-divider {
    height: 25px;
    width: 1px;
    background-color: black;
    align-self: center;
}

.ManyImages {
    width: 95%;
    height: 95%
}

.redCheckButton {
    font-size: 12px;
    font-family: monospace;
    height: 3em;
    width: auto;
    background-color: crimson;
}